.home .container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 8rem auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #F6F6F6;
    
}

.home .left {
    padding: 1rem;
}

.home h1 {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 800;
}

.home .right {
    padding: 1rem;
}

.home .img-container {
    width: 80%;
    display: flex;
    margin: auto;
}

.home img {
    max-width: 70%;
    margin: auto;
}

.home p {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(13, 5, 3, 0.872);
}

@media screen and (max-width: 740px) {
    .home .container {
        grid-template-columns: 1fr;
        margin: 3rem 0;
    }
    .home .img-container {
        width: 90%;
        display: flex;
    }

    .home .left {
        padding: 1rem;
        padding-top: 3rem;
    }
    .home img {
        max-width: 80%;
    }

    
}